.content {
  grid-area: content;
  background-color: #dedede;
  height: 100%;
}

.content img{
  margin: 10px;
  width: 50%;
  border: 3px solid gray;
  max-width: 100px;
}
.user {
  display:grid;
  grid-template-columns: 1fr 3fr;
  border: 3px solid red;
}
.selected{
  font-weight: bold;
}
.paginator {
  max-width: 100px;
}
