.header {
    grid-area: header;
    background-color: #dedede;
    border-radius: 15px;
  }

.header img{
  left: 10px;
  width: 70px;
  position: relative;
  top: 5px;
  }
  .login{
    float: right;
  }
  