html {
  background-image: url(https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.app-wrapper {
  display: grid;
  margin: 0 15%;
 
 grid-template-areas:
"header header"
"nav content";
 grid-template-rows: 80px 100%;
  grid-template-columns: 3fr 10fr;
  grid-gap: 10px;
  
}